<head>
  <meta charset="UTF-8" />
  <title>원격 의료 매칭 서비스, 아만닥</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <meta name="msapplication-TileColor" content="#3867d6" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link
    rel="stylesheet"
    href="fonts/font-awesome-4.3.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="css/all.css" />
  <link
    href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic"
    rel="stylesheet"
    type="text/css"
  />
</head>
