<header id="header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/logo.svg" alt="아만닥" /></a>
    </div>
    <nav id="nav">
      <a href="#" class="nav-opener"><span></span></a>
      <div class="opener-holder">
        <% if (user) { %>
        <p>반갑습니다! <%= user.name %> 님</p>
        <a href="/mypage" class="btn btn-primary rounded">마이페이지</a>
        <a href="/auth/logout" class="btn btn-primary rounded">로그아웃</a>
        <% }else{ %>
        <a href="/login" class="btn btn-primary rounded">로그인</a>
        <a href="/join" class="btn btn-primary rounded">회원가입</a>
        <% } %>
      </div>
      <div class="nav-drop">
        <ul>
          <li><a href="/aboutus">소개</a></li>
          <li><a href="/healthtopic">의학정보</a></li>
          <li><a href="/qna">게시판</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
