<!DOCTYPE html>
<html>
    <head>
        <title>의사전용페이지</title>
        <h1><a href="/"><img src="../images/logo.svg" style="width: 130px" /></a></h1>
        <h1><span style="color:rgb(8, 78, 178)">의사</span>페이지에 오신 것을 환영합니다.</h1>
        <div class="nav-drop">
            <ul>
                <li><a href="/">메인페이지로</a></li>
            </ul>
        </div>
    </head>
    <body>
            <% if (!user) { %>
                <section class="login-form">
                    <p>로그인</p>
                    <form method="post" action="/doctor/login">
                        <div class="int-area">
                            <input
                            type="text"
                            name="p_id"
                            id="p_id"
                            autocomplete="off"
                            required
                            /><label for="id">아이디</label>
                        </div>
                    <div class="int-area">
                        <input
                        type="password"
                        name="password"
                        id="password"
                        autocomplete="off"
                        required
                        /><label for="pw">비밀번호</label>
                    </div>
                    <div>
                        <% if(message) {%>
                        <p>
                        <span style="color: red; font-size: 12px"
                            ><%=message%></span
                        >
                        </p>
                        <% }%>
                    </div>
                    <div class="btn-area">
                        <button id="btn" type="submit">로그인</button>
                        <br />
                        <hr />
                    </div>
                    <div class="caption">
                        <a href="" class="findId">아이디를 잊으셨나요? </a> |
                        <a href="" class="findPwd">비밀번호를 잊으셨나요?</a> |
                        <a href="/join">회원가입</a>
                    </div>
                    </form>
                </section>
        <% }else{ %>
            <div class="opener-holder"></div>
            <p>반갑습니다! 의사 <%= user.name %> 님</p>
            <a href="/doctor/logout" class="btn btn-primary rounded"
            >로그아웃</a> 
            <a href="/doctor/call"><h1>화상통화하러가기</h1></a>
        </div>
        <% } %>
        <script>
            let id = $("#p_id");
            let pw = $("#password");
            let btn = $("#btn");
            $(btn).on("click", function () {
            if ($(id).val() == "") {
                $(id).next("label").addClass("warning");
                setTimeout(function () {
                $("label").removeClass("warning");
                }, 1500);
            } else if ($(pw).val() == "") {
                $(pw).next("label").addClass("warning");
            }
            });
        </script>
          </div>
        </div>
        </section>
    </body>
</html>



<script>
    $(function () {
      $(".findId").click((e) => {
        e.preventDefault;
        window.open(
          "findId",
          "findId",
          "width=510,height=310,left=300,top=50"
        );
      });
      $(".findPwd").click((e) => {
        e.preventDefault;
        window.open(
          "findPwd",
          "findPwd",
          "width=510,height=310,left=300,top=50"
        );
      });
    });
  </script>