<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <meta name="msapplication-TileColor" content="#3867d6" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <section class="visual">
        <div class="container">
            <div class="text-block3">
                <section class="login-form">
                    <h1><img src="/images/logo.svg" style="width: 260px"/></h1>
                    <h2>비밀번호 찾기</h2>
                    <form action="auth/findPwd" method="post">
                        <div class="int-area">
                            <input
                                type="text"
                                name="p_id"
                                id="p_id"
                                autocomplete="off"
                                required
                            /><label for="p_id">아이디</label>
                        </div>
                        <div class="int-area">
                            <input
                              type="text"
                              name="ph_no"
                              id="ph_no"
                              autocomplete="off"
                              required
                            /><label for="ph_no">전화번호</label>
                        </div>
                        <div class="btn-area">
                            <button id="btn" type="submit">비밀번호 찾기</button>
                          </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery.main.js"></script>
    <script>
        $(function(){
            $('#close').click(e=>{
                e.preventDefault();
                window.close();
            })
        })
    </script>
    </form>
</body>
</html>