<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>원격 의료 매칭 서비스, 아만닥</title>

    <meta name="msapplication-TileColor" content="#3867d6" />

    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="fonts/font-awesome-4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/all.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <div class="logo">
            <a href="index.html"><img src="images/logo.svg" alt="아만닥" /></a>
          </div>
          <nav id="nav">
            <div class="opener-holder">
              <a href="#" class="nav-opener"><span></span></a>
            </div>
            <a href="login.html" class="btn btn-primary rounded">로그인</a>
            <div class="nav-drop">
              <ul>
                <li class="active visible-sm visible-xs">
                  <a href="#">Home</a>
                </li>
                <li><a href="aboutus.html">소개</a></li>
                <li><a href="healthtopic.html">의학정보</a></li>
                <li><a href="qna.html">게시판</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <section class="visual">
        <div class="container">
          <div class="text-block">
            <div class="heading-holder">
              <h2>의학정보 페이지 입니다</h2>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer">
        <div class="container">
          <div class="footer-holder">
            <div class="row">
              <div class="col-md-4">
                <div class="logo">
                  <a href="#"><img src="images/logo.svg" alt="amandoc" /></a>
                </div>
                <p>아무때나 만나는 내 손 안의 닥터</p>
              </div>
              <div class="col-md-2">
                <h4>Navigation</h4>
                <ul>
                  <li><a href="index.html">메인페이지</a></li>
                  <li><a href="aboutus.html">소개</a></li>
                  <li><a href="healthtopic.html">의학정보</a></li>
                  <li><a href="qna.html">게시판</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="text-holder">
                  <strong class="phone"
                    ><a href="tel:0282821111">02 8282 1111</a></strong
                  >
                  <span class="available">고객상담시간 : 12PM - 18PM</span>
                  <h4>아만닥</h4>
                  <address>
                    아만빌딩 10F, <br />
                    서울특별시 종로구 종로 55 종로 55
                  </address>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-frame">
                  <h4>Info</h4>
                  <p>
                    Wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex commodo
                    consequat. Autem vel hendrerit iriure dolor in hendrerit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>
