<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>원격 의료 매칭 서비스, 아만닥</title>

    <meta name="msapplication-TileColor" content="#3867d6" />

    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="../fonts/font-awesome-4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/all.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      form div { margin-bottom: 20px;}
      input.error, select.error  {
          border: 1px solid red;
      }
      label.error {
          margin-left:10px;
          color:red;
      }
    </style>
    </style>
  </head>
  <body>
    <div id="wrapper">
      <%- include('../partials/nav') %>
      <section class="visual">
        <div class="container">
          <div class="text-block">
            <div class="heading-holder">

              <!-- 로그인이 안되어 있는 경우 -->
              <% if(user == null || user.length == 0){ %>
                <h3> 회원만 이용할 수 있습니다. 로그인을 해주세요. </h3>
                <a href="/">메인페이지로 돌아가기</a>
              <% } else { %>

              <!-- 로그인 O -->
                <h2>예진표 작성 페이지입니다</h2>
                <h2>STEP 2</h2>
                <form action="/question/step2" method="post">
                  <div>
                    <input type="hidden" name="p_id" value="<%= user._id%>"">
                  </div>
                  <div >
                    <label>초진여부</label> &nbsp; 
                      <input type="radio" id="treat_time" name="treat_time" value="초진"><label for="treat_time">초진</label>
                      <input type="radio" id="treat_time" name="treat_time" value="재진"><label for="treat_time">재진</label>
                  </div>
                  <div>
                    <label for="treat_div">진료과목:</label>
                    <select id="treat_div" name="treat_div">
                      <option value='' selected>--선택--</option>
                      <option value='호흡기내과'>호흡기내과</option>
                      <option value='정형외과'>정형외과</option>
                      <option value='이비인후과'>이비인후과</option>
                      <option value='안과'>안과</option>
                      <option value='피부과'>피부과</option>
                      <option value='신경과'>신경과</option>
                      <option value='치과'>치과</option>
                      <option value='정신건강의학과'>정신건강의학과</option>
                      <option value='비뇨기과'>비뇨기과</option>
                      <option value='소아과'>소아과</option>
                    </select>
                  </div>
                  <div>
                    <label for="disease_desc">증상:</label>
                    <input type="textarea" id="disease_desc" name="disease_desc" value="">
                  </div>
                  <div>
                    <button><a href="javascript:history.back();">뒤로가기</a></button> <button type="submit">다음 ></button>
                  </div>
                </form>
              <% } %>
            </div>
          </div>
        </div>
      </section>
      <%- include('../partials/footer') %>
      </div>
      <script src="/js/jquery-1.11.2.min.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/js/jquery.main.js"></script>
      <script src ="/validation_question/jquery.validate.min.js"></script>
      <script src ="/validation_question/step2.js"></script>
    </body>
  </html>